<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>Label TTF (TTF标签)</string>
	<key>ordering</key>
	<integer>9000</integer>
	<key>description</key>
	<string>可以显示 ttf 字体的文字标签</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCLabelTTF</string>
	<key>editorClassName</key>
	<string>CCBPLabelTTF</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>尺寸</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCLabelTTF 属性</string>
			<key>name</key>
			<string>CCLabelTTF</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Sample Text</string>
			<key>displayName</key>
			<string>文字内容</string>
			<key>type</key>
			<string>Text</string>
			<key>name</key>
			<string>string</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>default</key>
			<string>Helvetica</string>
			<key>displayName</key>
			<string>字体</string>
			<key>type</key>
			<string>FontTTF</string>
			<key>name</key>
			<string>fontName</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>字体大小</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>fontSize</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>自适应字体大小</string>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>adjustsFontSizeToFit</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>1</integer>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<integer>1</integer>
			<key>displayName</key>
			<string>不透明度</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>opacity</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>animatable</key>
			<true/>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>displayName</key>
			<string>颜色</string>
			<key>type</key>
			<string>Color3</string>
			<key>name</key>
			<string>color</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>范围</string>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>dimensions</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>对齐方式</string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>horizontalAlignment</string>
			<key>extra</key>
			<string>左对齐|0|水平居中|1|右对齐|2</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string></string>
			<key>type</key>
			<string>IntegerLabeled</string>
			<key>name</key>
			<string>verticalAlignment</string>
			<key>extra</key>
			<string>上对齐|0|垂直居中|1|下对齐|2</string>
		</dict>
		<dict>
			<key>displayName</key>
			<string>字体效果</string>
			<key>name</key>
			<string>Font Effects</string>
			<key>type</key>
			<string>SeparatorSub</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>fontColor</string>
			<key>defaultSerialization</key>
			<array>
				<integer>255</integer>
				<string>255</string>
				<string>255</string>
				<string>255</string>
			</array>
			<key>displayName</key>
			<string>填充颜色</string>
			<key>type</key>
			<string>Color4</string>
			<key>default</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>name</key>
			<string>outlineColor</string>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>displayName</key>
			<string>描边颜色</string>
			<key>type</key>
			<string>Color4</string>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>描边大小</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>outlineWidth</string>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>name</key>
			<string>shadowColor</string>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<string>0</string>
				<string>0</string>
				<string>0</string>
			</array>
			<key>displayName</key>
			<string>阴影颜色</string>
			<key>type</key>
			<string>Color4</string>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>阴影大小</string>
			<key>type</key>
			<string>FloatScale</string>
			<key>name</key>
			<string>shadowBlurRadius</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>displayName</key>
			<string>阴影距离</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>shadowOffset</string>
		</dict>
	</array>
</dict>
</plist>
