<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>加载一个 tmx 地图文件</string>
	<key>ordering</key>
	<integer>14500</integer>
	<key>displayName</key>
	<string>CCTiledMap 地图文件</string>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<false/>
	<key>className</key>
	<string>CCTiledMap</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>readOnly</key>
			<true/>
			<key>type</key>
			<string>Size</string>
			<key>name</key>
			<string>contentSize</string>
			<key>displayName</key>
			<string>尺寸</string>
		</dict>
	</array>
	<key>editorClassName</key>
	<string>CCBPTMXLayer</string>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>TMXMap 属性</string>
			<key>name</key>
			<string>CCTiledMap</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>affectsProperties</key>
			<array>
				<string>contentSize</string>
			</array>
			<key>displayName</key>
			<string>TMX 文件</string>
			<key>type</key>
			<string>MapFile</string>
			<key>name</key>
			<string>tmxFile</string>
		</dict>
	</array>
</dict>
</plist>
